In [1]:
# Dependencies
import pandas as pd
import numpy as np
import os

In [2]:
# Read the vine_table.csv into a DataFrame.
df = pd.read_csv("vine_table.csv")
df.dropna().head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RAB23OVFNCXZQ,1.0,0.0,0.0,N,Y
1,R3NORADVJO6IE6,5.0,0.0,0.0,N,Y
2,R299F4SO98S5OO,5.0,1.0,1.0,N,Y
3,R2DA9DOT03UW6I,5.0,2.0,3.0,N,Y
4,R2OGCH681EQHU6,5.0,0.0,0.0,N,Y

In [3]:
# Data filtered to 20 or more total votes
df = df[(df['total_votes']>= 20)]
df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
487,R1T4FVSABO0IDP,5.0,8.0,31.0,N,Y
613,R397VXR1GAK6C9,5.0,21.0,21.0,N,Y
1058,R2H6KB9RHS17GA,3.0,59.0,69.0,N,Y
1097,R3HAK0MUN9F5IT,1.0,6.0,28.0,N,Y
1373,R29UTZTOPUVRSV,5.0,21.0,21.0,N,Y

In [4]:
# Data filtered to greater than 50 %
df['helpful_votes/total_votes'] = (df['helpful_votes'] / df['total_votes']) * 100
df_50 = df[(df['helpful_votes/total_votes']>= 50)]
df_50.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_votes/total_votes
613,R397VXR1GAK6C9,5.0,21.0,21.0,N,Y,100.000000
1058,R2H6KB9RHS17GA,3.0,59.0,69.0,N,Y,85.507246
1373,R29UTZTOPUVRSV,5.0,21.0,21.0,N,Y,100.000000
1580,RY9FLUD8VG6XD,4.0,27.0,32.0,N,Y,84.375000
1725,R3Q5NAY8BGAKHI,5.0,34.0,40.0,N,Y,85.000000

In [5]:
# Data filter based on vine status 
# Vine yes
vine_yes = df_50[(df_50['vine']== 'Y')]
vine_yes.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_votes/total_votes
318513,REKN4PLM5174P,4.0,219.0,225.0,Y,N,97.333333
659122,RQOG8IIJX7CKB,4.0,21.0,27.0,Y,N,77.777778
799477,R33EJ9PSZR13CM,4.0,26.0,30.0,Y,N,86.666667
808799,RD2BFV896F321,5.0,16.0,20.0,Y,N,80.000000
1306517,R37GSXLA11XF8N,5.0,30.0,34.0,Y,N,88.235294

In [10]:
# Vine no
vine_no = df_50[(df_50['vine']== 'N')]
vine_no.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_votes/total_votes
613,R397VXR1GAK6C9,5.0,21.0,21.0,N,Y,100.000000
1058,R2H6KB9RHS17GA,3.0,59.0,69.0,N,Y,85.507246
1373,R29UTZTOPUVRSV,5.0,21.0,21.0,N,Y,100.000000
1580,RY9FLUD8VG6XD,4.0,27.0,32.0,N,Y,84.375000
1725,R3Q5NAY8BGAKHI,5.0,34.0,40.0,N,Y,85.000000

In [15]:
# Total # of reviews
review_count = df_50['review_id']
review_count.count()

99296

In [17]:
# Total # of 5 star reviews
five_star = df_50[(df_50['star_rating']== 5.0)]
five_star['star_rating'].count()

51360

In [11]:
# Vine yes with 5 star ratings
five_star_yes = vine_yes[(vine_yes['star_rating']== 5.0)]
five_star_yes['star_rating'].count()

132

In [12]:
# Vine no with 5 star ratings
five_star_no = vine_no[(vine_no['star_rating']== 5.0)]
five_star_no['star_rating'].count()

51228

In [24]:
# % of 5 star reviews with vine
five_star_yes_per = (five_star_yes.count()/five_star.count() *100)
five_star_yes_per['review_id']

0.25700934579439255

In [26]:
# % of 5 star reviews without vine   
five_star_no_per = (five_star_no.count()/five_star.count() * 100)
five_star_no_per['review_id']

99.74299065420561